@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

@layer utilities {
  .cta-btn {
    @apply btn btn-accent rounded-full hover:scale-105 hover:bg-secondary transition-all duration-300 
  }

  .hero-bg {
    @apply bg-gradient-to-br from-primary/20 via-secondary/10 to-accent/20;
  }

  .grid-cols-responsive {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6;
  }

  .card-hover {
    @apply hover:shadow-2xl hover:scale-105 hover:border hover:border-accent transition-transform duration-300;
  }

  .card-style {
    @apply bg-base-100 bg-gradient-to-br from-white/10 to-transparent shadow-xl rounded-lg;
  }
  
  .glass {
    @apply bg-gradient-to-br from-white/10 to-transparent backdrop-blur-lg border border-white/20 shadow-[0px_8px_32px_0px_rgba(0,0,0,0.37)];
  }

  .text-hover {
    @apply transition-transform duration-300 hover:scale-125;
  }

  .input-hover {
    @apply hover:ring-2 hover:ring-accent hover:shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-hover {
    @apply hover:scale-105 transition-transform duration-300;
  }

  .toast-success {
    @apply bg-success text-success-content
  }

  .toast-error {
    @apply bg-error text-error-content
  }
}
